.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.page {
  flex: 5;
}

.post-stub {
  margin: 5px;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  border: 1px dotted black;
}

.post-stub-name {
  grid-column: 2;
  grid-row: 1;
  border: 1px dotted green;
}

.post-stub-title {
  grid-column: 1 2;
  grid-row: 2;
  border: 1px dotted green;
}

.post {
  
}

.post-info-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.post-info-top p {
  font-size: smaller;
  margin-left: 3px;
  margin-right: 3px;
}

.comment-container {
  display: flex;
  flex-direction: row;
}

.comment-show-bar {
  background: gray;
  width: 15px;
  margin: 4px;
}

.closed-comment {
  background: gray;
  border-radius: 10px;
}

.comment-info-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.comment-info-top p {
  font-size: smaller;
  margin-left: 3px;
  margin-right: 3px;
}
