.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.post-stub {
  margin: 5px;
  border: 1px dotted black;
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
}

.post-stub-name {
  border: 1px dotted green;
  grid-column: 2;
  grid-row: 1;
}

.post-stub-title {
  border: 1px dotted green;
  grid-column: 1 2;
  grid-row: 2;
}
